<?xml version='1.0' encoding='utf-8'?>
<widget id="com.matthewjamescreative.MJCTestID" version="1.0.0" CFBundleVersion="20180608" CFBundleShortVersionString="20180608" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <plugin name="phonegap-plugin-push" />
    <name>com-matthewjamescreative-MJCTestID</name>
    <description>
        A blank PhoneGap app.
    </description>

    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
   <content src="index.html" />
   <icon src="images/logo.png" />
   <access origin="*" />         
</widget>
